.allwashresult{
    margin-left : 5%;  
}
.result_img {
    width: 95%;
    height: 15vh;
}
/*세차 시간 및 세차 날짜 정보 박스*/
.resultInfotext{
   margin-left: 5%;
}
.flexdisplay{
    display : flex;
}

/*요구사항 및 코멘트 박스*/
.questbox{
    width: 95%;
    height: 10vh;
    border-radius: 5px;
    border: 1px solid #70BEF7;
    text-align: left;
    
}

/*버튼 */

.butt,
.butt.rewash,
.butt.pay {
    width: 40%;
    height: 5vh;
    margin-top: 15%;
    border-radius: 10px;
    margin-left : 5%;
    border : none;
    color : white;
}
.butt.pay {
    background-color : #70BEF7;
}

.butt.rewash {
    background-color : #D9D9D9;
}
